<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>News Ticker</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">Content</th>
          <th scope="col">Status</th>
          <th scope="col">Sort</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @news_tickers.each do |news| %>
          <tr>
            <td><%= news.content %></td>
            <td><%= news.status %></td>
            <td><%= news.sort %></td>
            <td>
              <div class="d-flex gap-2">
                <%= link_to 'Show', admin_news_ticker_path(news), class: 'btn btn-success' %>
                <%= link_to 'Edit', edit_admin_news_ticker_path(news), class: 'btn btn-warning' %>
                <%= button_to 'Delete', admin_news_ticker_path(news), method: :delete, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @news_tickers, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <%= link_to 'New news ticker', new_admin_news_ticker_path, class: 'btn btn-primary my-2' %>
  </div>
</div>
</body>