<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Orders</h1>
    <%= form_with(url: admin_order_index_path, method: :get, local: true) do |form| %>
      <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
          <%= form.label :serial_number, 'Serial Number', class: 'form-label' %>
          <%= form.text_field :serial_number, value: params[:serial_number], class: 'form-control' %>
        </div>

        <div class="col-md-6 col-lg-4">
          <%= form.label :email, 'Email', class: 'form-label' %>
          <%= form.text_field :email, value: params[:email], class: 'form-control' %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= form.label :genre, 'Genre', class: 'form-label' %>
          <%= form.select :genre,
                          Order.genres.keys.map { |genre| [genre.humanize, genre] },
                          { include_blank: true, selected: params[:genre] },
                          class: 'form-select' %>
        </div>

        <div class="col-md-4">
          <%= form.label :state, 'State', class: 'form-label' %>
          <%= form.select :state,
                          ['pending', 'submitted', 'paid', 'cancelled'],
                          { include_blank: true, selected: params[:state] },
                          class: 'form-select' %>
        </div>

        <div class="col-md-4">
          <%= form.label :offer, 'Offer State', class: 'form-label' %>
          <%= form.select :offer,
                          ['active', 'inactive'],
                          { include_blank: true, selected: params[:offer] },
                          class: 'form-select' %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
          <%= form.label :start_date, 'Start Date', class: 'form-label' %>
          <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
        </div>

        <div class="col-md-6 col-lg-4">
          <%= form.label :end_date, 'End Date', class: 'form-label' %>
          <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
        </div>
      </div>

      <div class="d-flex justify-content-end mb-2">
        <%= form.submit 'Filter', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">Serial Number</th>
          <th scope="col">Ordered by</th>
          <th scope="col">Offer</th>
          <th scope="col">Genre</th>
          <th scope="col">Status</th>
          <th scope="col">Amount</th>
          <th scope="col">Coins</th>
          <th scope="col">Remarks</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.serial_number %></td>
            <td><%= order.user&.email %></td>
            <td><%= order.offer&.name || "N/A" %></td>
            <td><%= order.genre %></td>
            <td><%= order.state %></td>
            <td><%= order.amount %></td>
            <td><%= order.coin %></td>
            <td><%= order&.remarks || "-" %></td>
            <td>
              <%= order.created_at.strftime('%b %d, %Y') %><br>
              <%= order.created_at.strftime('%I:%M:%S %p') %>
            </td>
            <td>
              <%= button_to 'Submit', submit_admin_order_path(order), method: :patch, class: 'btn btn-warning mb-2' if order.may_submit? %>
              <%= button_to 'Pay', pay_admin_order_path(order), method: :patch, class: 'btn btn-primary mb-2' if order.may_pay? %>
              <%= button_to 'Cancel', cancel_admin_order_path(order), method: :patch, class: 'btn btn-danger mb-2' if order.may_cancel? %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @orders, theme: 'bootstrap-5' %>
      <p><strong>Total Amount:</strong> <%= @all_orders.sum(&:amount) %></p>
      <p><strong>Subtotal Amount:</strong> <%= @orders.sum(&:amount) %></p>
      <p><strong>Total Coins:</strong> <%= @all_orders.sum(&:coin) %></p>
      <p><strong>Subtotal Coins:</strong> <%= @orders.sum(&:coin) %></p>
      <%= link_to 'Export to CSV', admin_order_index_path(params.permit(:serial_number, :email, :genre, :state, :offer, :start_date, :end_date).merge(format: :csv)), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
</body>