<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

<div id="page-content-wrapper" class="w-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <div class="ms-auto dropdown">
        <a class="text-decoration-none text-dark btn border-black">
          Change Language
        </a>
        <a class="text-decoration-none text-dark btn dropdown-toggle border-black" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Username
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="text-dark text-decoration-none btn btn-links" href="#">Profile</a></li>
          <li><%= button_to 'Sign out', destroy_admin_user_session_path, method: :delete, class: "text-dark text-decoration-none btn btn-links" %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-4">
    <h1>Invite list</h1>
    <%= form_with(url: admin_invite_index_path, method: :get, local: true) do |form| %>
      <div class="row mb-4">
        <div class="col-md-8 col-lg-6">
          <%= form.label :parent_email, 'Parent Email', class: 'form-label' %>
          <%= form.text_field :parent_email, value: params[:parent_email], class: 'form-control' %>
        </div>
        <div class="col-md-4 col-lg-2 d-flex align-items-end">
          <%= form.submit 'Search', class: 'btn btn-primary w-100 mt-2' %>
        </div>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Parent Level</th>
          <th>Parent Email</th>
          <th>Email</th>
          <th>Total Deposit</th>
          <th>Member Total Deposits</th>
          <th>Coins</th>
          <th>Total Used Coins</th>
          <th>Children Members</th>
          <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.parent_id.blank? ? "N/A" : client.parent.member_level.level %></td>
            <td><%= client.parent_id.blank? ? "N/A" : client.parent.email %></td>
            <td><%= client.email %></td>
            <td><%= client.total_deposit || 0 %></td>
            <td><%= client.children.sum(:total_deposit) %> </td>
            <td><%= client.coins || 0 %></td>
            <td><%= @all_tickets.where(user: client).count %> </td>
            <td><%= client.children_members || 0 %></td>
            <td><%= client.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @clients, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <%= link_to 'Export to CSV', admin_invite_index_path(format: :csv, parent_email: params[:parent_email]), class: 'btn btn-primary mb-3' %>
  </div>
</div>
</body>