<%= render 'client/me/profile' %>
<div class="container container-mb">
  <% @winners.each do |winner| %>
    <div class="card d-flex align-items-center p-3 mb-3 shadow-sm">
      <div class="d-flex flex-row w-100 gap-5">
        <div class="me-4">
          <strong>Item:</strong><br>
          <%= winner.ticket.item.name %>
        </div>
        <div class="me-4">
          <strong>Batch count:</strong><br>
          <%= winner.ticket.batch_count %>
        </div>
        <div>
          <strong>Created at:</strong><br>
          <%= winner.created_at.strftime("%Y-%m-%d %I:%M %p") %>
        </div>
        <div>
          <strong>State:</strong><br>
          <span class="text-success"><%= winner.state %></span>
        </div>
        <% if winner.may_claim? %>
          <%= link_to "Claim Prize", edit_client_me_winning_history_path(winner), class: 'btn btn-success d-flex justify-content-center align-items-center'%>
        <% end %>
        <% if winner.may_share? %>
          <%= link_to "Share", edit_client_me_share_path(winner), class: 'btn btn-success d-flex justify-content-center align-items-center'%>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @winners, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil  %>
</div>