<div class="container mt-5 mb-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @location, url: client_location_path(@location), method: :patch, local: true, data: { controller: :location }, class: 'needs-validation' do |form| %>

            <% if @location.errors.any? %>
              <div class="alert alert-danger">
                <h4 class="alert-heading">There were some problems with your submission:</h4>
                <ul>
                  <% @location.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mb-3">
              <%= form.label :name, class: 'form-label' %>
              <%= form.text_field :name, id: :place_name, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :phone_number, class: 'form-label' %>
              <%= form.text_field :phone_number, id: :place_phone_number, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :genre, class: 'form-label' %>
              <%= form.select :genre, options_for_select([['Home', :home], ['Work', :work]], @location.genre), { class: 'form-select', prompt: "Select a genre" }, style: 'border: 1px solid #ccc; border-radius: 0.375rem; padding: 10px; font-size: 1rem; width: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);' %>
            </div>

            <div class="mb-3">
              <%= form.label :address_region_id %>
              <%= form.collection_select :address_region_id,
                                         Address::Region.all, :id, :name,
                                         { prompt: 'Please select region', selected: @location.address_region_id },
                                         style: 'border: 1px solid #ccc; border-radius: 0.375rem; padding: 10px; font-size: 1rem; width: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);',
                                         data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
            </div>
            <div class="mb-3">
              <%= form.label :address_province_id %>
              <%= form.collection_select :address_province_id,
                                         @location.address_region_id.present? ? @location.region.provinces : [],
                                         :id, :name,
                                         { prompt: 'Please select province', selected: @location.address_province_id },
                                         style: 'border: 1px solid #ccc; border-radius: 0.375rem; padding: 10px; font-size: 1rem; width: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);',
                                         data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities' } %>
            </div>

            <div class="mb-3">
              <%= form.label :address_city_id %>
              <%= form.collection_select :address_city_id,
                                         @location.address_province_id.present? ? @location.province.cities : [],
                                         :id, :name,
                                         { prompt: 'Please select city', selected: @location.address_city_id },
                                         style: 'border: 1px solid #ccc; border-radius: 0.375rem; padding: 10px; font-size: 1rem; width: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);',
                                         data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays' } %>
            </div>

            <div class="mb-3">
              <%= form.label :address_barangay_id %>
              <%= form.collection_select :address_barangay_id,
                                         @location.address_city_id.present? ? @location.city.barangays : [],
                                         :id, :name,
                                         { prompt: 'Please select barangay', selected: @location.address_barangay_id },
                                         style: 'border: 1px solid #ccc; border-radius: 0.375rem; padding: 10px; font-size: 1rem; width: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);',
                                         data: { location_target: 'selectedBarangayId' } %>
            </div>

            <div class="mb-3">
              <%= form.label :street_address, class: 'form-label' %>
              <%= form.text_field :street_address, id: :place_street_address, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :remark, class: 'form-label' %>
              <%= form.text_area :remark, id: :place_remark, class: 'form-control' %>
            </div>

            <div class="mb-3 form-check">
              <%= form.check_box :is_default, class: 'form-check-input' %>
              <%= form.label :is_default, 'Default Address', class: 'form-check-label' %>
            </div>

            <div class="text-center">
              <%= form.submit 'Submit', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>