<h1 class="text-center my-5 font-weight-bold">
  <%= current_client_user.username.present? ? current_client_user.username : current_client_user.email %> <%= t('address.list_title') %>
</h1>

<div class="table-responsive container container-mb">
  <% if @locations.count < 5 %>
    <%= link_to t('address.add_address'), new_client_location_path, class: 'btn btn-success mb-4' %>
  <% end %>
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead-light">
    <tr>
      <th><%= t('address.name') %></th>
      <th><%= t('address.genre') %></th>
      <th><%= t('address.phone_number') %></th>
      <th><%= t('address.default_address') %></th>
      <th><%= t('address.region') %></th>
      <th><%= t('address.province') %></th>
      <th><%= t('address.city') %></th>
      <th><%= t('address.barangay') %></th>
      <th><%= t('address.street_address') %></th>
      <th><%= t('address.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @locations.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.genre %></td>
        <td><%= place.phone_number %></td>
        <td><%= place.is_default ? t('address.yes') : t('address.no') %></td>
        <td><%= place.region.name %></td>
        <td><%= place.province.name %></td>
        <td><%= place.city.name %></td>
        <td><%= place.barangay.name %></td>
        <td><%= place.street_address %></td>
        <td class="d-flex justify-content-around">
          <% if !(place.is_default) %>
            <%= button_to t('address.make_default'), make_default_client_location_path(place), method: :patch, class: 'btn btn-primary btn-sm' %>
          <% end %>
          <%= button_to t('address.delete'), client_location_path(place), method: :delete, class: 'btn btn-danger btn-sm' %>
          <%= link_to t('address.edit'), edit_client_location_path(place), class: 'btn btn-info btn-sm' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>