<%= render 'client/me/profile' %>
<div class="container container-mb">
  <% @orders.each do |order| %>
    <div class="card d-flex align-items-center p-3 mb-3 shadow-sm">
      <div class="d-flex flex-wrap w-100 gap-4">
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.serial_number') %></strong><br>
          <%= order.serial_number %>
        </div>
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.genre') %></strong><br>
          <%= order.genre.humanize %>
        </div>
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.amount') %></strong><br>
          ₱ <%= order.amount %>
        </div>
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.coins') %></strong><br>
          <%= order.coin %>
        </div>
        <div class="mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.created_at') %></strong><br>
          <%= order.created_at.strftime("%Y-%m-%d %I:%M %p") %>
        </div>
        <div class="mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('order.state') %></strong><br>
          <span class="text-success">
            <span class="<%= 'text-danger' if order.cancelled? %>">
                <%= order.state %>
            </span>
          </span>
        </div>
        <% if order.may_cancel? && order.submitted? %>
          <div class="col-12 col-sm-auto mt-2 mt-sm-0">
            <%= button_to t('order.cancel_button'), cancel_client_me_order_history_path(order), method: :patch, class: 'btn btn-success d-flex justify-content-center align-items-center' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @orders, theme: 'bootstrap-5', previous_label: t('order.previous'), next_label: t('order.next'), gap: 0, window: nil %>
</div>