<%= render 'client/me/profile' %>
<div class="container container-mb">
  <% @orders.each do |order| %>
    <div class="card d-flex align-items-center p-3 mb-3 shadow-sm">
      <div class="d-flex flex-row w-100 gap-5">
        <div class="me-4">
          <strong>Serial Number:</strong><br>
          <%= order.serial_number %>
        </div>
        <div class="me-4">
          <strong>Amount:</strong><br>
          ₱ <%= order.amount %>
        </div>
        <div class="me-4">
          <strong>Coins:</strong><br>
          <%= order.coin %>
        </div>
        <div>
          <strong>Created at:</strong><br>
          <%= order.created_at.strftime("%Y-%m-%d %I:%M %p") %>
        </div>
        <div>
          <strong>State:</strong><br>
          <span class="text-success">
            <span class="<%= 'text-danger' if order.cancelled? %>">
                <%= order.state %>
            </span>
          </span>
        </div>
        <% if order.may_cancel? && order.submitted? %>
          <%= button_to "Cancel", cancel_client_me_order_history_path(order), method: :patch, class: 'btn btn-success d-flex justify-content-center align-items-center' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @orders, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
</div>