<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-1 d-flex align-items-center">
      <button class="btn btn-light">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>
    <div class="col text-center">
      <div class="bg-light p-5">
        <h2>Banner Image</h2>
      </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-end">
      <button class="btn btn-light">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col">
      <div class="alert alert-secondary text-center">
        Announcement
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="mb-3">
      <% @categories.each do |category| %>
        <button class="btn btn-outline-primary me-2">
          <%= category.name.capitalize %>
        </button>
      <% end %>
    </div>
    <div class="row" id="product-grid">
      <% @items.each do |item| %>
        <div class="col-md-6 col-lg-3 mb-4 product-item">
          <div class="card">
            <div class="card-body">
              <div class="card-img-top bg-light d-flex justify-content-center align-items-center" style="height: 150px;">
                <% if item.image.present? %>
                  <%= image_tag item.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if item.image.present? %>
                <% else %>
                  <span class="text-muted">No Image Available</span>
                <% end %>
              </div>
              <h5 class="card-title mb-3 text-dark font-weight-bold"><%= item.name %></h5>
              <div class="d-flex justify-content-between">
                <h6 class="card-text text-secondary"><strong>Status:</strong> <%= item.status %></h6>
                <h6 class="card-text text-muted"><strong>State:</strong> <%= item.state %></h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-end">
      <button class="btn btn-primary">More...</button>
    </div>
  </div>

</div>