<div class="container mt-5">
  <%= render 'client/shared/banner' %>

  <%= render 'client/shared/newsticker' %>

  <div class="container mt-4 container-mb">
    <div class="mb-3">
      <%= link_to "All Categories", client_lottery_index_path, class: "btn btn-outline-secondary me-2" %>
      <% @categories.each do |category| %>
        <%= link_to category.name.capitalize, client_lottery_index_path(category_id: category.id), class: "btn btn-outline-primary me-2" %>
      <% end %>
    </div>
    <div class="row" id="product-grid">
      <% @items.each do |item| %>
        <div class="col-md-6 col-lg-3 mb-4 product-item">
          <%= link_to client_lottery_path(item), class: "card-link text-decoration-none" do %>
            <div class="card">
              <div class="card-body">
                <div class="card-img-top bg-light d-flex justify-content-center align-items-center" style="height: 150px;">
                  <% if item.image.present? %>
                    <%= image_tag item.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if item.image.present? %>
                  <% else %>
                    <span class="text-muted">No Image Available</span>
                  <% end %>
                </div>
                <h5 class="card-title mb-3 text-dark font-weight-bold"><%= item.name %></h5>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-success d-flex align-items-center px-3 py-2 rounded-pill shadow-sm">
                    <i class="bi bi-record-fill me-2"></i>
                    <span class="text-white">Online</span>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="text-end">
      <button class="btn btn-primary">More...</button>
    </div>
  </div>

</div>