<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Banner</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Online At</th>
          <th scope="col">Offline At</th>
          <th scope="col">Status</th>
          <th scope="col">Sort</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @banners.each do |banner| %>
          <tr>
            <td><%= image_tag banner.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if banner.image.present? %></td>
            <td><%= banner.online_at&.strftime('%b %d, %Y, %I:%M %p') %>
            <td><%= banner.offline_at&.strftime('%b %d, %Y, %I:%M %p') %>
            <td><%= banner.status %></td>
            <td><%= banner.sort %></td>
            <td>
              <div class="d-flex gap-2">
                <%= link_to 'Show', admin_banner_path(banner), class: 'btn btn-success' %>
                <%= link_to 'Edit', edit_admin_banner_path(banner), class: 'btn btn-warning' %>
                <%= button_to 'Delete', admin_banner_path(banner), method: :delete, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @banners, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <%= link_to 'New Banner', new_admin_banner_path, class: 'btn btn-primary my-2' %>
  </div>
</div>
</body>