<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <h1>Bannner Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bannner Information</h5>

      <div class="form-group">
        <strong>Image:</strong>
        <p><%= image_tag @banner.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if @banner.image.present? %></p>
      </div>

      <div class="form-group">
        <strong>Online At:</strong>
        <p><%= @banner.online_at&.strftime('%b %d, %Y, %I:%M %p') %></p>
      </div>

      <div class="form-group">
        <strong>Offline At:</strong>
        <p><%= @banner.offline_at&.strftime('%b %d, %Y, %I:%M %p') %></p>
      </div>

      <div class="form-group">
        <strong>Status:</strong>
        <p><%= @banner.status.capitalize %></p>
      </div>

      <div class="form-group">
        <strong>Sort:</strong>
        <p><%= @banner.sort %></p>
      </div>

      <%= link_to 'Back to List', admin_banner_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
</body>