<%= render 'client/me/profile' %>
<div class="container container-mb">
  <% @lotteries.each do |lottery| %>
    <div class="card d-flex align-items-center p-3 mb-3 shadow-sm">
      <div class="d-flex flex-wrap w-100 gap-4">
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('lottery.serial_number') %></strong><br>
          <%= lottery.serial_number %>
        </div>
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('lottery.item') %></strong><br>
          <%= lottery.item.name %>
        </div>
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('lottery.batch_count') %></strong><br>
          <%= lottery.batch_count %>
        </div>
        <div class="mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('lottery.created_at') %></strong><br>
          <%= lottery.created_at.strftime("%Y-%m-%d %I:%M %p") %>
        </div>
        <div class="mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong><%= t('lottery.state') %></strong><br>
          <span class="text-success">
            <span class="<%= 'text-danger' if lottery.lost? %>">
              <span class="<%= 'text-warning' if lottery.cancelled? %>">
                <%= lottery.state %>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @lotteries, theme: 'bootstrap-5', previous_label: t('lottery.previous'), next_label: t('lottery.next'), gap: 0, window: nil %>
</div>