<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Member Level list</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Level</th>
          <th>required members</th>
          <th>coins</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @member_levels.each do |member| %>
          <tr>
            <td><%= member.level %></td>
            <td><%= member.required_members %></td>
            <td><%= member.coins %></td>
            <td>
              <div class="d-flex gap-2">
              <%= link_to 'Show', admin_member_level_path(member), class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_admin_member_level_path(member), class: 'btn btn-warning' %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @member_levels, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    </div>
    <%= link_to 'Add Member Level', new_admin_member_level_path, class: 'btn btn-primary mb-2' %>
  </div>
</div>
</body>