<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Tickets</h1>
    <%= form_with(url: admin_ticket_index_path, method: :get, local: true) do |form| %>
      <div class="row mb-3">
        <div class="col-md-4">
          <%= form.label :serial_number, 'Serial Number', class: 'form-label' %>
          <%= form.text_field :serial_number, value: params[:serial_number], class: 'form-control' %>
        </div>

        <div class="col-md-4">
          <%= form.label :item_name, 'Item Name', class: 'form-label' %>
          <%= form.text_field :item_name, value: params[:item_name], class: 'form-control' %>
        </div>

        <div class="col-md-4">
          <%= form.label :email, 'Email', class: 'form-label' %>
          <%= form.text_field :email, value: params[:email], class: 'form-control' %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= form.label :state, 'State', class: 'form-label' %>
          <%= form.select :state,
                          options_for_select(['pending', 'won', 'lost', 'cancelled'], params[:state]),
                          { include_blank: true },
                          class: 'form-select' %>
        </div>

        <div class="col-md-4">
          <%= form.label :start_date, 'Start Date', class: 'form-label' %>
          <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
        </div>

        <div class="col-md-4">
          <%= form.label :end_date, 'End Date', class: 'form-label' %>
          <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <%= form.submit 'Search', class: 'btn btn-primary mb-2' %>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">Serial Number</th>
          <th scope="col">Item</th>
          <th scope="col">Email</th>
          <th scope="col">Batch Count</th>
          <th scope="col">Coins</th>
          <th scope="col">State</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.serial_number %></td>
            <td><%= ticket.item.name %></td>
            <td><%= ticket.user.email %></td>
            <td><%= ticket.batch_count %></td>
            <td><%= ticket.coins %></td>
            <td><%= ticket.state %></td>
            <td>
              <%= ticket.created_at.strftime('%b %d, %Y') %><br>
              <%= ticket.created_at.strftime('%I:%M:%S %p') %>
            </td>
            <td><%= button_to 'Cancel', cancel_admin_ticket_path(ticket), method: :patch, class: 'btn btn-danger' if ticket.may_cancel? %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @tickets, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <%= link_to 'Export to CSV', admin_ticket_index_path(params.permit(:serial_number, :item_name, :email, :state, :start_date, :end_date).merge(format: :csv)), class: 'btn btn-primary mb-3' %>
  </div>
</div>
</body>