<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Item list</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Minimum Tickets</th>
          <th>State</th>
          <th>Batch Count</th>
          <th>Online At</th>
          <th>Offline At</th>
          <th>Start At</th>
          <th>Status</th>
          <th>Categories</th>
          <th>Action</th>
          <th>Change Status</th>
        </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= image_tag item.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if item.image.present? %></td>
            <td><%= item.quantity %></td>
            <td><%= item.minimum_tickets %></td>
            <td><%= item.state %></td>
            <td><%= item.batch_count %></td>
            <td><%= item.online_at&.strftime('%b %d, %Y') %><br><%= item.online_at&.strftime('%I:%M %p') %></td>
            <td><%= item.offline_at&.strftime('%b %d, %Y') %><br><%= item.offline_at&.strftime('%I:%M %p') %></td>
            <td><%= item.start_at&.strftime('%b %d, %Y') %><br><%= item.start_at&.strftime('%I:%M %p') %></td>
            <td><%= item.status&.capitalize %></td>
            <td class="text-wrap">
              <ul>
                <% item.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
            </td>
            <td>
              <%= link_to 'Show', admin_item_management_path(item), class: 'btn btn-info mb-2' %>
              <%= link_to 'Edit', edit_admin_item_management_path(item), class: 'btn btn-warning mb-2' %>
              <%= button_to 'Delete', admin_item_management_path(item), method: :delete, class: 'btn btn-danger mb-2' %>
            </td>
            <td>
              <%= button_to 'Start', start_admin_item_management_path(item), method: :patch, class: 'btn btn-success mb-2' if item.may_start? %>
              <%= button_to 'Pause', pause_admin_item_management_path(item), method: :patch, class: 'btn btn-secondary mb-2' if item.may_pause? %>
              <%= button_to 'End', end_admin_item_management_path(item), method: :patch, class: 'btn btn-dark mb-2' if item.may_end? %>
              <%= button_to 'Cancel', cancel_admin_item_management_path(item), method: :patch, class: 'btn btn-danger mb-2' if item.may_cancel? %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @items, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <div>
    <%= link_to 'Add Item', new_admin_item_management_path, class: 'btn btn-primary my-2' %>
    </div>
    <%= link_to 'Export to CSV', admin_item_management_index_path(format: :csv), class: 'btn btn-success mb-3' %>
  </div>
</div>
</body>