<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <h1>Item Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Item Information</h5>

      <div class="form-group">
        <strong>Name:</strong>
        <p><%= @item.name %></p>
      </div>
      <div class="form-group">
        <strong>Image:</strong>
        <p><%= image_tag @item.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if @item.image.present? %></p>
      </div>

      <div class="form-group">
        <strong>Categories:</strong>
        <p>
          <%= @item.categories.pluck(:name).join(', ').capitalize %>
        </p>
      </div>

      <div class="form-group">
        <strong>Quantity:</strong>
        <p><%= @item.quantity %></p>
      </div>

      <div class="form-group">
        <strong>Minimum Tickets:</strong>
        <p><%= @item.minimum_tickets %></p>
      </div>

      <div class="form-group">
        <strong>State:</strong>
        <p><%= @item.state %></p>
      </div>

      <div class="form-group">
        <strong>Batch Count:</strong>
        <p><%= @item.batch_count %></p>
      </div>

      <div class="form-group">
        <strong>Online At:</strong>
        <p><%= @item.online_at.present? ? @item.online_at.strftime('%b %d, %Y %I:%M %p') : 'Not available' %></p>
      </div>

      <div class="form-group">
        <strong>Offline At:</strong>
        <p><%= @item.offline_at.present? ? @item.offline_at.strftime('%b %d, %Y %I:%M %p') : 'Not available' %></p>
      </div>

      <div class="form-group">
        <strong>Start At:</strong>
        <p><%= @item.start_at.present? ? @item.start_at.strftime('%b %d, %Y %I:%M %p') : 'Not available' %></p>
      </div>

      <div class="form-group">
        <strong>Status:</strong>
        <p><%= @item.status.capitalize %></p>
      </div>

      <%= link_to 'Back to List', admin_item_management_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
</body>