<%= render 'client/shared/navbar' %>
<% if client_user_signed_in? %>
  <div class="container mt-5">
    <div class="card shadow-sm p-4">
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <%= image_tag current_client_user.image.url, class: "rounded-circle border", alt: "Profile Picture", size: "60x60" if current_client_user.image.present? %>
          <% unless current_client_user.image.present? %>
            <img src="https://via.placeholder.com/60" class="rounded-circle border" alt="Profile Picture">
          <% end %>
        </div>
        <div class="col-md-10">
          <h5><strong>Username:</strong> <span id="username"><%= current_client_user&.username %></span></h5>
          <p class="mb-1"><strong>Email:</strong> <span id="email"> <%= current_client_user.email %></span></p>
          <p><strong>Coins:</strong> <span id="coins"><%= current_client_user.coins || 0 %></span></p>
        </div>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-success btn-lg w-100">Cash In Now</button>
      </div>
    </div>

    <div class="card mt-4 shadow-sm">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/contact" class="btn btn-link text-decoration-none text-dark">Contact Us</a>
        </li>
        <li class="list-group-item">
          <a href="/profile" class="btn btn-link text-decoration-none text-dark">My Profile</a>
        </li>
        <li class="list-group-item">
          <%= button_to 'Sign out', destroy_client_user_session_path, method: :delete, class: 'btn btn-link text-decoration-none text-dark' %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <div class="card mt-4 shadow-sm">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Sign in', new_client_user_session_path, class: 'btn btn-link text-decoration-none text-dark' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Register', new_client_user_registration_path, class: 'btn btn-link text-decoration-none text-dark' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<%= render 'client/shared/footer' %>