<div class="container mt-4 container-mb">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <div class="ratio ratio-16x9 bg-secondary d-flex align-items-center justify-content-center text-white">
          <%= image_tag @offer.image.url, class: "border", size: "60x60" if @offer.image.present? %>
          <% unless @offer.image.present? %>
            <%= t('offer.no_image_available') %>
          <% end %>
        </div>
      </div>
      <h5 class="card-title text-center mb-3"><%= @offer.name %></h5>
      <div class="mb-3">
        <p class="mb-1"><%= t('offer.coins_for', coin: @offer.coin, amount: @offer.amount) %></p>
      </div>
      <%= form_with url: buy_client_shop_path(@offer), method: :post, local: true do |form| %>
        <div class="d-grid mb-3">
          <%= form.submit t('offer.buy_offer'), class: 'btn btn-success my-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>