<%= form_with(model: @winner, url: client_me_share_path) do |form| %>
  <div class="container mt-5 container-mb">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= form.label :comment, t('feedback_form.comment') %>
          <%= form.text_area :comment, class: 'form-control', rows: 3 %>
        </div>

        <div class="form-group">
          <%= form.label :image, t('feedback_form.image') %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= form.submit t('feedback_form.submit'), class: 'btn btn-success my-2' %>
      </div>
    </div>
  </div>
<% end %>