<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <h1>Offer Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Offer Information</h5>

      <div class="form-group">
        <strong>Name:</strong>
        <p><%= @offer.name %></p>
      </div>
      <div class="form-group">
        <strong>Image:</strong>
        <p><%= image_tag @offer.image.url, style: "max-width: 100px; max-height: 100px; object-fit: cover;" if @offer.image.present? %></p>
      </div>

      <div class="form-group">
        <strong>Amount:</strong>
        <p><%= @offer.amount %></p>
      </div>

      <div class="form-group">
        <strong>Coin:</strong>
        <p><%= @offer.coin %></p>
      </div>

      <div class="form-group">
        <strong>Status:</strong>
        <p><%= @offer.status.capitalize %></p>
      </div>

      <%= link_to 'Back to List', admin_offer_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
</body>