<div class="container mt-5 container-mb">
  <%= render 'client/shared/banner' %>

  <%= render 'client/shared/newsticker' %>

  <div class="row mb-4">
    <div class="col-12">
      <h4 class="text-center mb-4">Winners Feedback</h4>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @winners_feedback.each do |winner| %>
          <div class="col">
            <div class="card p-3 h-100 shadow-sm border-0 rounded-3">
              <div class="d-flex justify-content-center mb-3">
                <%= image_tag winner.image.url, class: "img-fluid border", size: "120x120" if winner.image.present? %>
              </div>

              <div class="card-body text-center">
                <p class="h6 mb-2"><strong><%= winner.user.email %></strong></p>
                <p class="card-text text-muted"><%= winner.comment %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center mt-4">
        <%= link_to 'More...', client_share_index_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <h4 class="text-center mb-4">Coming Soon</h4>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @items.each do |item| %>
          <div class="col">
            <div class="card p-3 h-100 shadow-sm border-0 rounded-3">
              <div class="d-flex justify-content-center mb-3">
                <%= image_tag item.image.url, class: "img-fluid border", size: "120x120" if item.image.present? %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center mt-4">
        <%= link_to 'More...', client_lottery_index_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>