<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Categories</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Sort</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.sort %></td>
          <td>
            <div class="d-flex gap-2">
              <%= link_to 'Show', admin_category_path(category), class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-warning' %>
              <%= button_to 'Delete', admin_category_path(category), method: :delete, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @categories, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
    <%= link_to 'Add Categories', new_admin_category_path, class: 'btn btn-success' %>
  </div>
</div>