<div class="d-flex" id="wrapper">
  <div class="bg-dark border-end" id="sidebar-wrapper">
    <div class="sidebar-heading text-white py-4 px-3 h5"> Kuya Dol Raffle</div>
    <div class="list-group list-group-flush">
      <%= link_to t('dashboard'), admin_root_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" data-bs-toggle="collapse" href="#collapseParticipantManagement" role="button" aria-expanded="false" aria-controls="collapseParticipantManagement">
          <%= t('participant_management') %> <i class="bi bi-arrow-down-square float-end"></i>
        </a>
        <div class="collapse list-group-flush" id="collapseParticipantManagement">
          <%= link_to t('user_list'), admin_user_management_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('invite_list'), admin_invite_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('member_levels'), admin_member_level_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" data-bs-toggle="collapse" href="#collapseLotteryManagement" role="button" aria-expanded="false" aria-controls="collapseLotteryManagement">
          <%= t('lottery_management') %> <i class="bi bi-arrow-down-square float-end"></i>
        </a>
        <div class="collapse list-group-flush" id="collapseLotteryManagement">
          <%= link_to t('items'), admin_item_management_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('categories'), admin_categories_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('tickets'), admin_ticket_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('winners'), admin_winner_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" data-bs-toggle="collapse" href="#collapsePromotions" role="button" aria-expanded="false" aria-controls="collapsePromotions">
          <%= t('promotions_offers') %> <i class="bi bi-arrow-down-square float-end"></i>
        </a>
        <div class="collapse list-group-flush" id="collapsePromotions">
          <%= link_to t('offers'), admin_offer_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('banners'), admin_banner_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
          <%= link_to t('news_ticker'), admin_news_ticker_index_path, class: 'list-group-item list-group-item-action bg-dark text-white ps-5' %>
        </div>
      </div>

      <%= link_to t('order_management'), admin_order_index_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
    </div>
  </div>

  <div id="page-content-wrapper" class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <div class="ms-auto dropdown">
          <div class="dropdown text-decoration-none text-dark btn border-black">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('language') %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
              <li><%= link_to 'English', params.permit!.merge(locale: 'en'), class: 'dropdown-item' %></li>
              <li><%= link_to 'Tagalog', params.permit!.merge(locale: 'tl'), class: 'dropdown-item' %></li>
            </ul>
          </div>
          <a class="text-decoration-none text-dark btn dropdown-toggle border-black" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_admin_user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li><%= button_to t('sign_out'), destroy_admin_user_session_path, method: :delete, class: "text-dark text-decoration-none btn btn-links" %></li>
          </ul>
        </div>
      </div>
    </nav>